<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Sua estante</title>
    <link rel="stylesheet" href="/stylesheets/livro.css">
</head>

<body>
    <header>
        <img src="/images/logo2.jpg" alt="Logo" class="logo">
        <nav>
            <a href="/meusLivros">Meus livros</a>
            <a href="/login">Login</a>
        </nav>
        <div class="search">
            <input type="text" placeholder="Busque pelo título">
            <img src="/images/IconPesquisa2.png" alt="Buscar">
        </div>
    </header>

  <div class="container">
    <div class="book-cover">
      <img src="images/AguaViva.jpg" alt="Capa do livro Água Viva">
      <div class="book-meta">
        <p><strong>Autor:</strong> Clarice Lispector</p>
        <p><strong>Páginas:</strong> 96</p>
        <p><strong>Editora:</strong> Rocco</p>
      </div>
    </div>

    <div class="book-details">
      <h1>Água viva</h1>

      <div class="rating">
        <div class="rating-box">4.3</div>
        <button class="favorite-button">♡ Favoritar</button>
      </div>

      <div class="stars">Avalie este livro: ☆☆☆☆☆</div>

      <div class="book-info">
        Clarice Lispector tinha o hábito de dormir cedo, acordar de madrugada e ficar sentada na sua sala pensando, fumando e ouvindo o Rádio Relógio, acompanhada apenas de seu cachorro, Ulisses. Nesses momentos de solidão, nasceram muitas de suas obras, que, depois, ela escreveria com a máquina de escrever apoiada sobre as pernas. "Escrevo-te sentada junto de uma janela aberta no alto do meu ateliê", diz ela em determinado trecho do romance Água viva, em que a autora se confunde com a personagem, uma solitária pintora que se lança em infinitas reflexões sobre o tempo, a vida e a morte, os sonhos e visões, as flores, os estados da alma, a coragem e o medo e, principalmente, a arte da criação, do saber usar as palavras num jogo de sons e silêncios que se combinam, a especialidade da própria Clarice.
      </div>
    </div>
  </div>

</body>
</html>
