<!DOCTYPE html>
<html>

<head>
    <title>Água viva</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h1>Água viva</h1>
    <p>-Clarice lispector</p>
</body>

</html>