<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <title>Sua estante</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
      <div class="logo">Sua estante</div>
      <nav>
        <a href="/meusLivros">Meus livros</a>
        <a href="/login">Login</a>
      </nav>
      <div class="search">
        <input type="text" placeholder="Busque pelo título">
        <img src="/images/IconPesquisa2.png" alt="Buscar">
      </div>
    </header>

    <main>
      <h2>Sugestões:</h2>
      <p>Navegue e encontre os livros que voce quer avaliar:</p>
      <div class="livros-container">
        <img src="/images/AguaViva.jpg" alt="Livro 1">
        <img src="/images/TudoRio.jpg" alt="Livro 2">
        <img src="/images/TudoQueEu.jpg" alt="Livro 3">
        <img src="/images/DepoisVerão.jpg" alt="Livro 4">
        <img src="/images/AmoresVerdadeiros.jpg" alt="Livro 5">
      </div>
    </main>
  </body>
</html>
