<header>
    <img src="/images/logo2.jpg" alt="Logo" class="logo">
    <nav>
        <a href="/meusLivros">Meus livros</a>
        <a href="/login">Login</a>
    </nav>
    <div class="search">
        <input type="text" placeholder="Busque pelo título">
        <img src="/images/IconPesquisa2.png" alt="Buscar">
    </div>
</header>